# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Fiber Build Artifacts
build*/
dist*/
*.fibc
*.spec
*.exe

# Local Data
*.db
*.csv
grand_report.txt
grand_demo_results.txt

# IDEs
.vscode/
.idea/
.gemini/

# OS
.DS_Store
Thumbs.db
